h1 {
  color: #fff;
}

#approot {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gradient-primary {
  /* Background: */
  background: #4A90E2;

  background-image: radial-gradient(at 0 bottom,rgba(118,72,160,.7)
  0,rgba(118,72,160,0) 60%),radial-gradient(at 90% bottom,#523f8c
  0,rgba(82,63,140,0) 40%),radial-gradient(at 50% top,rgba(84,90,182,.6)
  0,rgba(84,90,182,0) 75%),radial-gradient(at right top,#794aa2
  0,rgba(121,74,162,0) 57%);

  background-size: auto,auto,100% 1000px,100% 1000px;
  background-repeat: no-repeat;
}
