.container
  .row
    .col-xs-12
      .ct-chart
  .row
    .col-xs-12.text-center
      %p
        %strong Cut:
        = @current_meat.cut
        %br
        - @current_meat.readings.each do |reading|
          %strong Temp:
          = reading.temp

          %strong Time:
          = reading.created_at
          %br
