!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}

    %link{:href => "/public/css/main.css", :rel => "stylesheet"}
    %link{:href => "//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", :rel => "stylesheet"}
  %body
    #approot.gradient-primary
      .text-center
        %img{src: "/public/images/meat.svg"}
      = yield
      %footer
        .small.text-center
          Meat Printing by H Y P E R M O R G E N from the Noun Project

    / jQuery first, then Bootstrap JS.
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %script{:src => "/public/js/bootstrap.min.js"}
    %script{:src => "//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"}

    :javascript
      $( document ).ready(function() {
        var data = {
          labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15'],
          // Naming the series with the series object array notation
          series: [{
            name: 'series-1',
            data: [1, 2, 3, 4, 5, 5, 5, 4, 5, 6, 6, 7, 7, 7, 8]
          }]
        };

        var options = {
          height: 500,
          fullWidth: true,
          // Within the series options you can use the series names
          // to specify configuration that will only be used for the
          // specific series.
          series: {
            'series-1': {
              lineSmooth: Chartist.Interpolation.simple(),
              showArea: true,
              showPoint: false
            }
          }
        }

        var chart = new Chartist.Line('.ct-chart', data, options)
      });
